pip install streamlit
pip install python-dotenv
pip install -U langchain-community
pip install langchain
pip install unstructured
pip install faiss-cpu
pip install sentence-transformers
pip install openai
pip install -qU langchain-google-genai
pip install tiktoken